<h1> 2. Creating a sampled dataset </h1>

This notebook illustrates:
<ol>
<li> Sampling a BigQuery dataset to create datasets for ML
<li> Preprocessing with Pandas
</ol>

In [1]:
!sudo chown -R jupyter:jupyter /home/jupyter/training-data-analyst

In [2]:
# Ensure the right version of Tensorflow is installed.
!pip freeze | grep tensorflow==2.1

In [3]:
# change these to try this notebook out
BUCKET = 'qwiklabs-gcp-01-cf8e38f58069'
PROJECT = 'qwiklabs-gcp-01-cf8e38f58069'
REGION = 'us-central1'

In [4]:
import os
os.environ['BUCKET'] = BUCKET
os.environ['PROJECT'] = PROJECT
os.environ['REGION'] = REGION

In [5]:
%%bash
if ! gsutil ls | grep -q gs://${BUCKET}/; then
  gsutil mb -l ${REGION} gs://${BUCKET}
fi

<h2> Create ML dataset by sampling using BigQuery </h2>
<p>
Let's sample the BigQuery data to create smaller datasets.
</p>

In [6]:
# Create SQL query using natality data after the year 2000
from google.cloud import bigquery
query = """
SELECT
  weight_pounds,
  is_male,
  mother_age,
  plurality,
  gestation_weeks,
  FARM_FINGERPRINT(CONCAT(CAST(YEAR AS STRING), CAST(month AS STRING))) AS hashmonth
FROM
  publicdata.samples.natality
WHERE year > 2000
"""

There are only a limited number of years and months in the dataset. Let's see what the hashmonths are.

In [7]:
# Call BigQuery but GROUP BY the hashmonth and see number of records for each group to enable us to get the correct train and evaluation percentages
df = bigquery.Client().query("SELECT hashmonth, COUNT(weight_pounds) AS num_babies FROM (" + query + ") GROUP BY hashmonth").to_dataframe()
print("There are {} unique hashmonths.".format(len(df)))
df.head()

There are 96 unique hashmonths.

             hashmonth  num_babies
0 -7170969733900686954      331274
1  5896567601480310696      342825
2  -774501970389208065      349134
3 -5742197815970064689      359684
4   454960867574323744      346515

Here's a way to get a well distributed portion of the data in such a way that the test and train sets do not overlap:

In [8]:
# Added the RAND() so that we can now subsample from each of the hashmonths to get approximately the record counts we want
trainQuery = "SELECT * FROM (" + query + ") WHERE ABS(MOD(hashmonth, 4)) < 3 AND RAND() < 0.0005"
evalQuery = "SELECT * FROM (" + query + ") WHERE ABS(MOD(hashmonth, 4)) = 3 AND RAND() < 0.0005"
traindf = bigquery.Client().query(trainQuery).to_dataframe()
evaldf = bigquery.Client().query(evalQuery).to_dataframe()
print("There are {} examples in the train dataset and {} in the eval dataset".format(len(traindf), len(evaldf)))

There are 13412 examples in the train dataset and 3328 in the eval dataset

<h2> Preprocess data using Pandas </h2>
<p>
Let's add extra rows to simulate the lack of ultrasound. In the process, we'll also change the plurality column to be a string.

In [9]:
traindf.head()

,weight_pounds,is_male,mother_age,plurality,gestation_weeks,hashmonth
0,6.633709,False,19,1,40.0,3095933535584005890
1,7.561856,False,18,1,39.0,3095933535584005890
2,7.312733,True,24,1,41.0,3095933535584005890
3,7.561856,False,22,1,45.0,3095933535584005890
4,8.375361,True,27,1,41.0,3095933535584005890

Also notice that there are some very important numeric fields that are missing in some rows (the count in Pandas doesn't count missing data)

In [10]:
# Let's look at a small sample of the training data
traindf.describe()

,weight_pounds,mother_age,plurality,gestation_weeks,hashmonth
count,13392.000000,13412.000000,13412.000000,13332.000000,1.341200e+04
mean,7.246045,27.410304,1.032210,38.618137,1.640766e+17
std,1.318008,6.190469,0.186024,2.583377,5.199649e+18
min,0.630522,12.000000,1.000000,17.000000,-9.183606e+18
25%,6.563162,22.000000,1.000000,38.000000,-4.329667e+18
50%,7.319347,27.000000,1.000000,39.000000,-4.110670e+17
75%,8.062305,32.000000,1.000000,40.000000,4.331750e+18
max,13.375445,49.000000,4.000000,47.000000,8.599690e+18

In [11]:
# It is always crucial to clean raw data before using in ML, so we have a preprocessing step
import pandas as pd
def preprocess(df):
  # clean up data we don't want to train on
  # in other words, users will have to tell us the mother's age
  # otherwise, our ML service won't work.
  # these were chosen because they are such good predictors
  # and because these are easy enough to collect
  df = df[df.weight_pounds > 0]
  df = df[df.mother_age > 0]
  df = df[df.gestation_weeks > 0]
  df = df[df.plurality > 0]
  
  # modify plurality field to be a string
  twins_etc = dict(zip([1,2,3,4,5],
                   ['Single(1)', 'Twins(2)', 'Triplets(3)', 'Quadruplets(4)', 'Quintuplets(5)']))
  df['plurality'].replace(twins_etc, inplace=True)
  
  # now create extra rows to simulate lack of ultrasound
  nous = df.copy(deep=True)
  nous.loc[nous['plurality'] != 'Single(1)', 'plurality'] = 'Multiple(2+)'
  nous['is_male'] = 'Unknown'
  
  return pd.concat([df, nous])

In [12]:
traindf.head()# Let's see a small sample of the training data now after our preprocessing
traindf = preprocess(traindf)
evaldf = preprocess(evaldf)
traindf.head()

,weight_pounds,is_male,mother_age,plurality,gestation_weeks,hashmonth
0,6.633709,False,19,Single(1),40.0,3095933535584005890
1,7.561856,False,18,Single(1),39.0,3095933535584005890
2,7.312733,True,24,Single(1),41.0,3095933535584005890
3,7.561856,False,22,Single(1),45.0,3095933535584005890
4,8.375361,True,27,Single(1),41.0,3095933535584005890

In [13]:
traindf.tail()

,weight_pounds,is_male,mother_age,plurality,gestation_weeks,hashmonth
13407,8.035849,Unknown,22,Single(1),39.0,-774501970389208065
13408,7.594925,Unknown,26,Single(1),41.0,-774501970389208065
13409,6.062712,Unknown,34,Single(1),36.0,-774501970389208065
13410,6.000983,Unknown,17,Single(1),35.0,-774501970389208065
13411,8.124034,Unknown,33,Single(1),40.0,-774501970389208065

In [14]:
# Describe only does numeric columns, so you won't see plurality
traindf.describe()

       weight_pounds    mother_age  gestation_weeks     hashmonth
count   26628.000000  26628.000000      26628.00000  2.662800e+04
mean        7.246981     27.411597         38.62731  1.652934e+17
std         1.318182      6.188817          2.55438  5.199296e+18
min         0.630522     12.000000         17.00000 -9.183606e+18
25%         6.563162     22.000000         38.00000 -4.329667e+18
50%         7.319347     27.000000         39.00000 -4.110670e+17
75%         8.062305     32.000000         40.00000  4.331750e+18
max        13.375445     49.000000         47.00000  8.599690e+18

<h2> Write out </h2>
<p>
In the final versions, we want to read from files, not Pandas dataframes. So, write the Pandas dataframes out as CSV files. 
Using CSV files gives us the advantage of shuffling during read. This is important for distributed training because some workers might be slower than others, and shuffling the data helps prevent the same data from being assigned to the slow workers.

In [15]:
traindf.to_csv('train.csv', index=False, header=False)
evaldf.to_csv('eval.csv', index=False, header=False)

In [16]:
%%bash
wc -l *.csv
head *.csv
tail *.csv

   6592 eval.csv
  26628 train.csv
  33220 total
==> eval.csv <==
7.936641432,True,17,Single(1),41.0,74931465496927487
6.56316153974,False,35,Single(1),39.0,-6244544205302024223
6.9996768185,False,26,Single(1),41.0,-6141045177192779423
7.31273323054,True,30,Single(1),39.0,-1866590652208008467
6.9996768185,False,25,Single(1),37.0,-1639186255933990135
6.686620406459999,True,39,Single(1),38.0,-6910174677251748583
7.936641432,True,20,Single(1),39.0,6392072535155213407
8.062304921339999,False,25,Single(1),40.0,-1866590652208008467
6.0627122049999995,False,20,Single(1),40.0,1569531340167098963
7.81318256528,False,17,Single(1),40.0,-1891060869255459203

==> train.csv <==
6.63370946358,False,19,Single(1),40.0,3095933535584005890
7.5618555866,False,18,Single(1),39.0,3095933535584005890
7.31273323054,True,24,Single(1),41.0,3095933535584005890
7.5618555866,False,22,Single(1),45.0,3095933535584005890
8.375361333379999,True,27,Single(1),41.0,3095933535584005890
7.936641432,True,25,Single(1),39.0,3095933535584005890
7.5839018128,True,18,Single(1),38.0,3095933535584005890
8.3114272774,True,33,Single(1),39.0,3095933535584005890
7.62578964258,True,26,Single(1),40.0,3095933535584005890
7.68751907594,False,25,Single(1),39.0,3095933535584005890
==> eval.csv <==
8.37315671076,Unknown,19,Single(1),39.0,8904940584331855459
6.6248909731,Unknown,24,Single(1),40.0,-7517141034410775575
6.9004688006,Unknown,19,Single(1),40.0,6392072535155213407
6.75055446244,Unknown,28,Single(1),38.0,-1639186255933990135
8.313631900019999,Unknown,27,Single(1),41.0,74931465496927487
6.9666074791999995,Unknown,37,Single(1),40.0,-4740473290291881219
6.0627122049999995,Unknown,24,Single(1),39.0,-6782146986770280327
6.7571683303,Unknown,43,Single(1),42.0,-6141045177192779423
6.91810578156,Unknown,29,Single(1),36.0,-6141045177192779423
10.00016820432,Unknown,22,Single(1),41.0,6392072535155213407

==> train.csv <==
7.06140625186,Unknown,19,Single(1),40.0,-774501970389208065
9.62538235892,Unknown,30,Single(1),41.0,-774501970389208065
7.43839671988,Unknown,36,Single(1),39.0,-774501970389208065
7.31273323054,Unknown,30,Single(1),40.0,-774501970389208065
6.8784225744,Unknown,29,Single(1),40.0,-774501970389208065
8.0358494499,Unknown,22,Single(1),39.0,-774501970389208065
7.5949249259,Unknown,26,Single(1),41.0,-774501970389208065
6.0627122049999995,Unknown,34,Single(1),36.0,-774501970389208065
6.0009827716399995,Unknown,17,Single(1),35.0,-774501970389208065
8.1240343547,Unknown,33,Single(1),40.0,-774501970389208065

Copyright 2020 Google Inc. Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License